# Xcode
.DS_Store
build/
DerivedData/
*.xcuserdata/
*.xcscmblueprint

# Swift Package Manager
Packages/
.build/
.swiftpm/xcode/package.resolved

# CocoaPods
Pods/
Podfile.lock

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# Flutter specific
.flutter-plugins
.packages
.flutter-plugins-dependencies

# Other
*.orig
*.lock
*.log
*.swp
*.xcuserstate
